.post-container {
  padding-top: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
}

.post {
  text-decoration: none;
  width: 40rem;
  height: 30rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
  }

  &__title {
    flex: 20%;
    border-bottom: 1px solid lightgray;
    background-color: royalblue;
    display: grid;
    place-content: center;
    color: white;
  }

  &__text {
    flex: 60%;
    display: grid;
    place-content: center;
  }

  &__user-container {
    flex: 20%;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background-color: royalblue;
    color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  &__like-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }

  &__like-icon {
    height: 3rem;
    width: 3rem;
  }
}
