.post-page {
  padding: 4rem;
  display: flex;
  column-gap: 4rem;
}

.comment-container {
  flex-basis: 50%;
}

.comment-form {
  padding-bottom: 2rem;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border-bottom: 2px solid var(--secondary-color);
}

.comment-list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  .comment {
    padding: 1rem;
    border: 1px solid var(--lightGray-color);
    border-radius: 1rem;
    background-color: var(--lightGray-color);

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__author {
      font-weight: 500;
    }
  }
}
